<!--<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService 
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>            
      </div>
      
    </div>
  </div>
  <div>-->
    <tui-root>
        <div class="t-root-content">
        <h1>Sign up</h1>
        <form
        class="b-form"
        [formGroup]="testForm"
    >
        <tui-input #userEmail formControlName="email">
            Type an email
            <input
                tuiTextfield
                type="email"
            />
        </tui-input>
        <tui-input-password
        #userPassword
        formControlName="testValue"
        class="tui-space_top-2"
    >
        Type a password
        <input
            tuiTextfield
            placeholder="Make it secure!"
        />
    </tui-input-password>  
    </form>
    <button
    tuiButton
    type="button"
    appearance="primary"
    class="tui-space_right-3 tui-space_bottom-3"
    (click)="signUp(userEmail.value,userPassword.value)"
   
  >
    Sign up
  </button>
  </div>
  <button
    tuiButton
    type="button"
    appearance="secondary"
    class="tui-space_right-3 tui-space_bottom-3"
  
    [routerLink]="['/sign-in']"
  >
   Got to Log in
  </button>
  </tui-root>