.container {
    margin: auto;
    width: 80%;
   
    padding: 10px;
};
.b-form{
    margin-top: 50px; 
    padding: 10px;
}
.signInCont{
    padding: 1%;
}
.logInBttn{
    margin-top: 8px;
    padding: auto;
}