<div class="tui-container tui-container_adaptive" >
  <div class="tui-row tui-row_adaptive" >
      <div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-12"> 
        <tui-root>
        <div class="t-root-content">
          <h1>Welocme to Fridgey</h1>
          <br>
          <div class="signInCont"> <h2>Sign in</h2>
            <form
            class="b-form"
            [formGroup]="testForm"
        >
            <tui-input #userEmail formControlName="email">
                Type an email
                <input
                    tuiTextfield
                    type="email"
                />
            </tui-input>
            <tui-input-password
            #userPassword
            formControlName="testValue"
            class="tui-space_top-2"
        >
            Type a password
            <input
                tuiTextfield
                placeholder="Make it secure!"
            />
        </tui-input-password>
        </form>
        <div class="logInBttn" ><button 
        
          tuiButton
          type="button"
          appearance="primary"
          class="tui-space_right-3 tui-space_bottom-3"
          (click)="LogIn(userEmail.value,userPassword.value)"
          [showLoader]="loader"      >
          Log in
        </button>
      
        <button 
        
        tuiButton
        type="button"
        appearance=""
        [routerLink]="['/sign-up']"
        class="tui-space_right-3 tui-space_bottom-3"
        
            >
        sign up
      </button></div>
        
    
    </div>
          
    </div>
   
      

    </tui-root>
      </div> </div> </div>
