<tui-island
class="card"
 textAlign="left">
    <h3 class="tui-island__title">Fridge</h3>
    <p class="tui-island__paragraph"></p>
    <p class="tui-island__paragraph tui-island__paragraph_link">
        
    </p>
    <tui-badged-content 
    class="bage"
   
     *ngFor="let singleProduct of products; let i = index"
    [contentTop]="singleProduct.productQuantity"
   
    
>
    <button
        tuiButton
        type="button"
        appearance="secondary"
        size="s"
        
    >
       {{singleProduct.productName}}
    </button>
</tui-badged-content>
</tui-island>

<tui-island
class="card"
 textAlign="left">
    <h3 class="tui-island__title">Freezer</h3>
    <p class="tui-island__paragraph"></p>
    <p class="tui-island__paragraph tui-island__paragraph_link">
        
    </p>
    <tui-badged-content 
    class="bage"
     *ngFor="let singleProduct of products; let i = index"
    [contentTop]=""

>
    <button
        tuiButton
        type="button"
        appearance="secondary"
         size="s"   
    >
       {{singleProduct.productName}}
    </button>
</tui-badged-content>
</tui-island>
   

    





 